<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<%= render :partial=>'spree/admin/shared/showcase_submenu'%>

<% content_for :page_title do %>
  <%= t(:showcase) %>
<% end %>

<% content_for :page_actions do %>
  <div class="toolbar" data-hook="toolbar">
    <ul class="actions header-action-links inline-menu">
      <li id="edit_showcase_settings">
        <%= button_link_to t(:new_slide), new_object_url, :icon => 'icon-plus', :id => 'admin_new_slide_link' %>
      </li>
    </ul>
  </div>
<% end %>

<table class="index sortable" id="listing_slides" data-hook data-sortable-link="<%= update_positions_admin_slides_url %>">
  <thead>
    <tr data-hook="admin_slides_index_headers">
      <th><%= t(:name) %></th>
      <th data-hook="admin_slides_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @slides.each do |slide|%>
      <tr id="<%= spree_dom_id slide %>" data-hook="admin_slides_index_rows">
        <td width="350px" ><span class="handle" style="margin-right:5px"> </span> <%=link_to slide.name, object_url(slide) %></td>
        <td data-hook="admin_slides_index_row_actions">
          <%= link_to_edit slide, :class => 'edit' %> &nbsp;
          <%= link_to_delete slide %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
